html {

  background-color: black;
  color: white;
  
  font-size: 125%;
  font-family: "Book Antiqua";
}


h1 {

  color: red;
  
  font-size: 300%;
  font-weight: bold;

  text-align: center;
  margin: 1%;
}

h2 a {

  text-decoration: none;
  font-size: 200%
}

h2 a:hover{

  text-decoration: underline;
}

h2 a:visited {

  color: purple;
}

article {

  margin: 5% 5% 10%;
  padding: 2% 5%; 
  
  color: black; 
  background-color: #EEFF57;

  border-radius: 25px;
}
